// Import Bulma's core
@import "~bulma/sass/utilities/functions";
//main imports
$family-sans-serif: "Roboto", sans-serif;
$family-secondary: "Merienda";
$primary: #7957d5 !default;
$primary-invert: findColorInvert(#7957d5) !default;
$primary-light: findLightColor(#7957d5) !default;
$primary-dark: findDarkColor(#7957d5) !default;


//tipography
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";